{
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "semi": false,
  "trailingComma": "all",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "bracketSameLine": false
}
